*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5);
}

*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border:transparent;
}

h1, h2, h3 {
    color: rgb(82, 82, 82);
}

@import '../components/player/player.style';
@import '../components/song/song.style';
@import '../components/library/library.style';
@import '../components/librarySong/librarySong.style';
@import '../components/nav/nav.style';